.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.header form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.body li {
  list-style-type: none;
  text-align: center;
}
